DSL/6章_七ノ型_テンプレート.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 七ノ型_テンプレート
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: parameter-extractor
      id: 1738638681821-source-1738638748045-target
      source: '1738638681821'
      sourceHandle: source
      target: '1738638748045'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: iteration
      id: 1738638748045-source-1738639030071-target
      source: '1738638748045'
      sourceHandle: source
      target: '1738639030071'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1738639030071'
        sourceType: iteration-start
        targetType: llm
      id: 1738639030071start-source-1738639104152-target
      source: 1738639030071start
      sourceHandle: source
      target: '1738639104152'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: template-transform
      id: 1738639030071-source-1739676123701-target
      source: '1738639030071'
      sourceHandle: source
      target: '1739676123701'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: end
      id: 1739676123701-source-1739251832429-target
      source: '1739676123701'
      sourceHandle: source
      target: '1739251832429'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: query
          max_length: 256
          options: []
          required: true
          type: paragraph
          variable: query
      height: 90
      id: '1738638681821'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        parameters:
        - description: '入力された文字の中から果物だけを選んで果物の名前を抽出します。

            例:

            私はサンマとまぐろとなしとりんごが好きです: なし、りんご'
          name: extract
          required: false
          type: array[string]
        query:
        - '1738638681821'
        - query
        reasoning_mode: prompt
        selected: false
        title: パラメーター抽出
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1738638748045'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 186
        is_parallel: false
        iterator_selector:
        - '1738638748045'
        - extract
        output_selector:
        - '1738639104152'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1738639030071start
        title: イテレーション
        type: iteration
        width: 388
      height: 186
      id: '1738639030071'
      position:
        x: 717.0291740370037
        y: 282
      positionAbsolute:
        x: 717.0291740370037
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 388
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1738639030071start
      parentId: '1738639030071'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 741.0291740370037
        y: 350
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1738639030071'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 4e74ba74-95e0-4eea-8d40-79245e4e6984
          role: system
          text: ''
        - role: user
          text: '{{#1738639030071.item#}}について、その色と特徴を述べてください'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1738639104152'
      parentId: '1738639030071'
      position:
        x: 128
        y: 68
      positionAbsolute:
        x: 845.0291740370037
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1739676123701'
          - output
          variable: output
        selected: false
        title: 終了
        type: end
      height: 90
      id: '1739251832429'
      position:
        x: 1403.0123022306777
        y: 282
      positionAbsolute:
        x: 1403.0123022306777
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: true
        template: '{{ arg1 }}'
        title: テンプレート
        type: template-transform
        variables:
        - value_selector:
          - '1738639030071'
          - output
          variable: arg1
      height: 54
      id: '1739676123701'
      position:
        x: 1136
        y: 282
      positionAbsolute:
        x: 1136
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -382.74320531160015
      y: 28.680341375549943
      zoom: 0.757858283255199
