DSL/8章_マルチモーダル対応 (1).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 8章_マルチモーダル対応
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1739868037167-source-1739868096902-target
      source: '1739868037167'
      sourceHandle: source
      target: '1739868096902'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1739868096902-true-llm-target
      source: '1739868096902'
      sourceHandle: 'true'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1739868226731-source-1739868250856-target
      source: '1739868226731'
      sourceHandle: source
      target: '1739868250856'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: list-operator
      id: 1739868096902-false-1739868383218-target
      source: '1739868096902'
      sourceHandle: 'false'
      target: '1739868383218'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: list-operator
        targetType: llm
      id: 1739868383218-source-1739868226731-target
      source: '1739868383218'
      sourceHandle: source
      target: '1739868226731'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: list-operator
      id: 1739868096902-false-1739868466387-target
      source: '1739868096902'
      sourceHandle: 'false'
      target: '1739868466387'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: list-operator
        targetType: document-extractor
      id: 1739868466387-source-1739868500496-target
      source: '1739868466387'
      sourceHandle: source
      target: '1739868500496'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: document-extractor
        targetType: llm
      id: 1739868500496-source-1739868226731-target
      source: '1739868500496'
      sourceHandle: source
      target: '1739868226731'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables: []
      height: 54
      id: '1739868037167'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 822f1d2e-ae40-4fd6-b481-9d30b3361f7c
          role: system
          text: ''
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: llm
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 回答
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 84e774d5-c052-4647-95d9-61d96bbb23c7
            sub_variable_condition:
              case_id: ec03e5e2-6989-422d-979f-97e472c8f240
              conditions: []
              logical_operator: and
            value: ''
            varType: array[file]
            variable_selector:
            - sys
            - files
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1739868096902'
      position:
        x: 383
        y: 282
      positionAbsolute:
        x: 383
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: 73f1c789-aace-471c-9125-765b68c8b8d3
          role: system
          text: 'あなたはドキュメントと画像の両方を分析できるアシスタントです。

            '
        - role: user
          text: 'ドキュメントが存在する場合は以下がドキュメントの内容です。

            {{#1739868500496.text#}}'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 98
      id: '1739868226731'
      position:
        x: 1282
        y: 419
      positionAbsolute:
        x: 1282
        y: 419
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1739868226731.text#}}'
        desc: ''
        selected: false
        title: 回答 2
        type: answer
        variables: []
      height: 102
      id: '1739868250856'
      position:
        x: 1594
        y: 419
      positionAbsolute:
        x: 1594
        y: 419
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - image
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: リスト処理
        type: list-operator
        var_type: array[file]
        variable:
        - sys
        - files
      height: 92
      id: '1739868383218'
      position:
        x: 680
        y: 419
      positionAbsolute:
        x: 680
        y: 419
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: in
            key: type
            value:
            - document
          enabled: true
        item_var_type: file
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: リスト処理 2
        type: list-operator
        var_type: array[file]
        variable:
        - sys
        - files
      height: 92
      id: '1739868466387'
      position:
        x: 680
        y: 550
      positionAbsolute:
        x: 680
        y: 550
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: true
        selected: false
        title: テキスト抽出ツール
        type: document-extractor
        variable_selector:
        - '1739868466387'
        - result
      height: 92
      id: '1739868500496'
      position:
        x: 984
        y: 550
      positionAbsolute:
        x: 984
        y: 550
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -317
      y: -58.5
      zoom: 1
